body{
  /* display:flex;
  justify-content:center;
  align-items:center; */
  margin: auto;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: white;
  background-image: url('https://images6.alphacoders.com/321/thumb-1920-321927.jpg');
  cursor: url('./assets/rainbow.png') 2 2, pointer;
 
}


h1 {
  display:flex;
  justify-content:center;
  font-family: 'Rusting Robotica', sans-serif;
  color:white;
                                                
}


#searchBox {
  display:flex;
  justify-content:center;
  margin: auto;
}

#inputBar
{
  width: 20%;
  display: flex;
  background-color: white;
  border: 1px solid black;
  color: #111;
  font-size: 15px;
  box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
  height: 25px;    
}

#searchButton
{
border-radius: 5px;
box-shadow: 1px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0);
margin-left: 10px;
}


h2 {
  display:flex;
  justify-content:center;
  color: white;
  text-shadow: 1px 1px #000000;
}




#bbName {
  color: #38995A
   }


#bbImage {
border-radius: 10px;
/* max-height: 600px;
max-width: 1000px; */
}

#imageContainer
{
  display:flex;
  justify-content:center;
}



.bbStats{
  display:flex;
  justify-content:center;
  
}


.bbInfo
{
  background-color: #032202;
  opacity: 0;
  width: 50%;
  margin-top: 20px;
  
}

h6 {
  display:flex;
  justify-content:center;
}


#random {
  display:flex;
  justify-content:center;
  margin-bottom: 10px;
}




